# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# Project Specific
data/
logs/
*.log
.DS_Store
dq_great_expectations/uncommitted/

# Testing and Caches
.pytest_cache/
.ipynb_checkpoints/

# Temporary/Generated Folders
abc64232-25a2-499d-90ae-9fe5939ae437/
.work-folder-info
