include README.md
include LICENSE
include requirements.txt
recursive-include aims_data_platform *.py
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
